* {
  box-sizing: border-box;
}

/* .main{
  display: flex;
  margin: 1rem;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
} */
.product{
  height: 300px;
  width: 180px;
  margin: 1rem;
  /* box-shadow: 1px 1px 1rem rgb(0, 0, 0); */
  border-radius: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.product:hover{
  cursor: pointer;
  /* box-shadow: 1px 1px 1rem aqua; */
  transition-duration: 0.4s;
}
.image{
  height: 100px;
  width: 120px;
  object-fit: contain;
}



nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.6rem;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  width: 100vw;
  background-color: white;
}

.carting{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.6rem;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  background-color: rgb(255, 255, 255);
}

.count{
  border-radius: 50px;
  padding: 1px;
  border: 1px solid aqua;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  left: 15px;
  color: red;
}
.cart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  /* box-shadow: 0px 0px 1rem rgb(0, 0, 0); */
  border-radius: 5px;
  padding: 1rem;
  box-sizing: border-box;
  margin: 0.41rem;
  width: 700px;
}
.cartProduct{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid rgb(22, 232, 243); */
  /* box-shadow: 1px 1px 7px rgb(0, 0, 0); */
  padding: 0.6rem;
  margin: 0.6rem;
  border-radius: 0.4rem;
}
.cartItems{
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 300px;
}
.cartImage{
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.mainuserprofile{
  /* height: 0vh; */
  /* width: 100vw; */
  padding: 1rem;
  /* display: flex; */
  gap: 5rem;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 3rem;
}
.inputs{
 display: flex;
 justify-content: space-between;
 gap: 2rem;
 margin-bottom: 0;
}

form{
  /* border: 1px solid aqua; */
  width: 370px;
  /* box-shadow: 1px 1px 1rem 1px aqua; */
  border-radius: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.secondDiv{
  width: 370px;
  border-radius: 1rem;
  /* box-shadow: 1px 1px 1rem aqua; */
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  gap: 2;
  align-items: center;
}
.counterinner{
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 1rem 1px aqua;
  align-items: center;
  margin: 2rem;
  padding: 2rem;
  width: fit-content;
}
.counterMain{
  display: flex;
  justify-content: center;
}

